.box{
	border-top:4px solid rgba(125, 211, 212, 0.47);
	background-color:#fff;
	margin-top:15px;
	padding:15px;
}
thead{
	background-color:rgb(58, 181, 169);
	font-weight:bold;
}
tbody{
	background-color:#fff;
}
.table{
	position:relative;
	top:10px;
}

.text-content{
	font-weight:bold;
	padding-top:15px;
}

.left-offset{
	position:relative;
	left:30%;
	top:5px;
}